.mainNav {
  z-index: 999;
  background-color: lightgrey;
  width: 100vw;
  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    list-style: none;
    padding-left: 0;
    li {
      height: 100%;
      margin: 0 2rem;
      text-align: center;
      &:hover {
        background-color: red;
      }
      a {
        /* controls the height of the header */
        padding: 1.5rem;
        height: 100%;
        width: 100%;
        display: block;
        margin: 0 auto;
        color: white;
        text-decoration: none;
      }
    }
  }
}